__pycache__/
*.pyc
*.pt
2020/
tests/
tutorials/

# files for assignment 3
train_with_bpe_dropout.py
lstm_lexical.py
assignments/03/

# files for assignment 4
assignments/04/
seq2seq/div_beam.py
translate_beam.py
translate_mbr.py
translate_div_beam.py
