__pycache__/
*.pyc
*.pt
2020/
tests/
tutorials/

# files for assignment 3
train_with_bpe_dropout.py
lstm_lexical.py


# files for assignment 4
assignments/04/
seq2seq/div_beam.py
translate_beam.py
translate_mbr.py
translate_div_beam.py

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.

ex3_env/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

settings.json
# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
